# Supabase Configuration
# Obtén tus credenciales desde el Dashboard de Supabase (Project Settings > API)
VITE_SUPABASE_URL=https://acjcjouckbuncjprvtrt.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFjamNqb3Vja2J1bmNqcHJ2dHJ0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc2MDU3NjksImV4cCI6MjEwMzE4MTc2OX0.uvSRTBLM-zDcFgAAP5wqL7x48oHeJdikTQiL3H6Exes
