# Supabase Configuration
# Obtén tus credenciales desde el Dashboard de Supabase (Project Settings > API)
VITE_SUPABASE_URL=https://acjcjouckbuncjprvtrt.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=sb_publishable_qhgTxzHjS1mlfi7D9bNrqA_9ptaX5Dx
